<style>
  .nb-theme-default ng2-smart-table thead tr.ng2-smart-filters th .ng2-smart-filter input {
    line-height: 1.25rem;
    visibility: hidden;
  }
</style>
<div>
        <nb-card>
          <nb-card-header>

            <h1 style=" color: #3366ff ; text-align: center ;" > All Devices </h1>
          </nb-card-header>

          <nb-card-body size="100%">
            <ng2-smart-table [settings]="settings" [source]="data"(deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>

</div>

<button (click)="dynamicDownloadTxt()" >download annex 1</button>
<button (click)="dynamicDownloadTxt1()" >download annex 2</button>
