<nb-card>
  <nb-card-header>
    <div class="form-group">

      <h1 style="
    color: #23afdc;" >  Select Device : <nb-select [(selected)]="selectedOption" placeholder="Devices">
        <nb-option (click)="send()" *ngFor="let o of Sdata" [value]="o"> {{ o.name }}</nb-option>
      </nb-select>

    </h1>
    </div>
  </nb-card-header>
  <nb-card-body>
    <h1 style="
      color: #23afdc;"> <span style="
      color: #222bdc;"> Device </span> :   {{selectedOption.name}}</h1>
    <h4 style="
      color: #3b59dc;"> At   {{selectedOption.factoryName }} factory
    </h4>  <h5 style="
      color: #3b59dc;">    {{selectedOption.area }}
    </h5>
      <br><br>
      <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
  </nb-card-body>
</nb-card>

<!-- <div class="col-lg-6">
 <h1 style="
    color: #23afdc;" > <span style="
    color: #222bdc;" > Device </span>  :   {{a.name}}</h1>  <h4 style="
    color: #3b59dc;">     At   {{a.factoryName }} factory
  <nb-card>
    <nb-card-header>Bar Horizontal</nb-card-header>
    <nb-card-body>
      <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
    </nb-card-body>
  </nb-card>
</div>
</div>
-->
