<nb-card size="medium" class="solar-card" *ngFor="let s of data ">
  <nb-card-header><h5 style=" color: #3366ff ;"> {{s.name}}</h5></nb-card-header>
  <nb-card-body>

    <table>
      <tr>
        <td>
          <h6 style="color:#2c97de"> ID :  {{s.code}}</h6>
          <h6 style="color:#2c97de"> Factory : {{s.factoryName}}</h6>
          <h6 style="color:#2c97de"> Area : {{s.area}}</h6>&nbsp;&nbsp;&nbsp;
        </td>
        <td><img src="../assets/images/gas.PNG" width="150px" height="150px"/></td>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          ON/OFF :
        </th>
        <td>
          <ui-switch size="large" (change)="onChange($event)" checked="true"></ui-switch>
        </td>
      </tr>
      <tr>
        <th>
          Last update :
        </th>
        <td>
          {{last_update}}
        </td>
      </tr>

    </table>&nbsp;&nbsp;
    <div style="text-align: center;" id="test">
      <rg-gauge-chart
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [bottomLabel]="bottomLabel"></rg-gauge-chart>&nbsp;&nbsp;
      <h4 style="
    margin-right: 35%;color: #3b59dc;
">m3</h4>
    </div>
  </nb-card-body>
</nb-card>
