
     <table width="100%">
       <tr>
         <td>
           <nb-card >
             <nb-card-header>
               <h1 style=" color: #3366ff ; text-align: center ;" >  Add Factory </h1>
             </nb-card-header>
             <nb-card-body>
               <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
                 <div class="form-group">
                   <input type="text" nbInput formControlName="name" name="name" autocomplete="off" fullWidth placeholder="factory name">&nbsp;&nbsp;
                   <input type="text" width="50%"   formControlName="description" name="description" autocomplete="off" nbInput fullWidth placeholder="Description">
                 </div>

                      <!--<button type="submit" class="btn btn-success"> Add </button>
                      <button type="Reset" class="btn btn-danger">Cancel</button>-->
                      <nb-card-footer _ngcontent-csk-c27="">


                        <button _ngcontent-csk-c27="" type="submit" nbbutton="" status="success" _nghost-csk-c16="" ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions" aria-disabled="false" tabindex="0">
                          Add
                        </button>
                        &nbsp;&nbsp;
                        <button _ngcontent-csk-c27="" type="reset" class="cancel appearance-filled size-medium status-danger shape-rectangle transitions" nbbutton="" status="danger" _nghost-csk-c16="" ng-reflect-status="danger" aria-disabled="false" tabindex="0">
                          Cancel
                        </button>
                      </nb-card-footer>

               </form>
             </nb-card-body>
           </nb-card>
         </td>
         <td>
           <nb-card >
             <nb-card-header > <h1 style=" color: #3366ff ; text-align: center ;" >  Add Location</h1></nb-card-header>
             <div id='map' style='width: 1000px; height: 700px;' > </div>

           </nb-card>
         </td>

       </tr>
     </table>


