<h1 id="title" class="title">Change password</h1>
<p class="sub-title">Please set a new password</p>


<nb-alert  outline="success" role="alert">
  <p class="alert-title"><b> msg</b></p>
  <ul class="alert-message-list">
    <li  class="alert-message"></li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-password">New Password:</label>
    <input nbInput


           type="password"
           id="input-password"
           name="password"
           class="first"
           placeholder="New Password"
           autofocus
           fullWidth
           fieldSize="large"
      >
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password"> Confirm Password:</label>
    <input nbInput

           id="input-re-password"
           name="rePass"
           type="password"
           class="last"
           placeholder="Confirm Password"
           fullWidth
           fieldSize="large"
>

  </div>

  <button nbButton
          status="primary"
          fullWidth
          size="large"
         >
    Change password
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
  <p><a class="text-link" routerLink="../register">Register</a></p>
</section>
