<h1 id='title' class='title'>Forgot Password</h1>
<p class='sub-title'>Enter your code in your address and we’ll make you reset your password</p>

<form (ngSubmit)='onSubmit()' [formGroup]='reqCodetForm' aria-labelledby='title'>

  <div class='form-control-group'>
    <label class='label' for='code'>Enter your code</label>
    <input nbInput
           formControlName='code'
           id='code'
           name='code'
           placeholder='Code'
           autofocus
           fullWidth
           fieldSize='large'>


    <button nbButton
            fullWidth
            status='success'
            size='large'>
      send code
    </button>
  </div>
</form>
