<style>
  #test, #test1, #test2, #test3, #test4, #test5, #test6, #test7, #test8, #test9, #test10, #test11 {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    align-self: center;
  }

  .container {
    display: flex;
    align-items: center;
  }

  nb-progress-bar {
    flex: 1;
  }
</style>
<nb-card size="large" class="solar-card" *ngFor="let s of data ">
  <nb-card-header><h5 style=" color: #3366ff ;"> {{s.name}}</h5></nb-card-header>
  <nb-card-body>
    <h6 style="color:#2c97de"> ID :  {{s.code}}</h6>
    <h6 style="color:#2c97de"> Factory : {{s.factoryName}}</h6>
    <h6 style="color:#2c97de"> Area : {{s.area}}</h6>&nbsp;&nbsp;&nbsp;
    <table>
      <tr>
        <th>
          ON/OFF :
        </th>
        <td>
          <ui-switch size="large" (change)="onChange($event)" checked="true"></ui-switch>
        </td>
      </tr>
      <tr>
        <th>
          Last update :
        </th>
        <td>
          {{last_update}}
        </td>
      </tr>
      <tr>
        <th>
          Export to Execel file :
        </th>
        <td>
          <a  (click)="exportexcel()"> <img src="../assets/images/logo1.png" width="40px" height="40px"/></a>
        </td>
      </tr>
    </table>&nbsp;&nbsp;

    <nb-tabset fullWidth>
      <nb-tab tabTitle="Total">
        <div class="row" id="test5">

          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name1"
            [needleValue]="needleValue_ComActiveTotal"
            [bottomLabel]="label_ComActiveTotal+'\n Kwh'"
            [options]="options"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name2 "
            [needleValue]="needleValue_PositiveActiveTotal"
            [bottomLabel]="label_PositiveActiveTotal+'\n Kwh'"
            [options]="options2"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name3 "
            [needleValue]="needleValue_ReverseActiveTotal"
            [bottomLabel]="label_ReverseActiveTotal+'\n Kwh'"
            [options]="options3"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name4 "
            [needleValue]="needleValue_ActivePowerTotal"
            [bottomLabel]="label_ActivePowerTotal+'\n Kwh'"
            [options]="options4"
          >
          </rg-gauge-chart>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Phase A">
        <div class="row" id="test">
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name1"
            [needleValue]="needleValue_ComActiveTotal"
            [bottomLabel]="label_ComActiveTotal+'\n Kwh'"
            [options]="options"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name2 "
            [needleValue]="needleValue_PositiveActiveTotal"
            [bottomLabel]="label_PositiveActiveTotal+'\n Kwh'"
            [options]="options2"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name3 "
            [needleValue]="needleValue_ReverseActiveTotal"
            [bottomLabel]="label_ReverseActiveTotal+'\n Kwh'"
            [options]="options3"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name4 "
            [needleValue]="needleValue_ActivePowerTotal"
            [bottomLabel]="label_ActivePowerTotal+'\n Kwh'"
            [options]="options4"
          >
          </rg-gauge-chart>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="row" id="test1">
          <br><br>&nbsp;&nbsp;&nbsp;
          <h5 style="color:#2c97de"><span style="color: gray;">Voltage : </span>  {{VoltagePhaseA}} V </h5>
          <h5 style="color:#2c97de"><span style="color: gray;">Current : </span> {{CurrentPhaseA}} A </h5>
          <h5 style="color:#2c97de"><span style="color: gray ;">Power Factor : </span>{{PowerFactorPhaseA}} A </h5>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Phase B">
        <div class="row" id="test2">
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name1"
            [needleValue]="needleValue_ComActiveTotal"
            [bottomLabel]="label_ComActiveTotal+'\n Kwh'"
            [options]="options"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name2 "
            [needleValue]="needleValue_PositiveActiveTotal"
            [bottomLabel]="label_PositiveActiveTotal+'\n Kwh'"
            [options]="options2"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name3 "
            [needleValue]="needleValue_ReverseActiveTotal"
            [bottomLabel]="label_ReverseActiveTotal+'\n Kwh'"
            [options]="options3"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name4 "
            [needleValue]="needleValue_ActivePowerTotal"
            [bottomLabel]="label_ActivePowerTotal+'\n Kwh'"
            [options]="options4"
          >
          </rg-gauge-chart>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="row" id="test3">
          <br><br>&nbsp;&nbsp;&nbsp;
          <h5 style="color:#2c97de"><span style="color: gray;">Voltage : </span>  {{VoltagePhaseB}} V </h5>
          <h5 style="color:#2c97de"><span style="color: gray;">Current : </span> {{CurrentPhaseB}} A </h5>
          <h5 style="color:#2c97de"><span style="color: gray ;">Power Factor : </span>{{PowerFactorPhaseB}} A </h5>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Phase C">
        <div class="row" id="test4">
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name1"
            [needleValue]="needleValue_ComActiveTotal"
            [bottomLabel]="label_ComActiveTotal+'\n Kwh'"
            [options]="options"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name2 "
            [needleValue]="needleValue_PositiveActiveTotal"
            [bottomLabel]="label_PositiveActiveTotal+'\n Kwh'"
            [options]="options2"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name3 "
            [needleValue]="needleValue_ReverseActiveTotal"
            [bottomLabel]="label_ReverseActiveTotal+'\n Kwh'"
            [options]="options3"
          >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name4 "
            [needleValue]="needleValue_ActivePowerTotal"
            [bottomLabel]="label_ActivePowerTotal+'\n Kwh'"
            [options]="options4"
          >
          </rg-gauge-chart>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="row" id="test8">
          <br><br>&nbsp;&nbsp;&nbsp;
          <h5 style="color:#2c97de"><span style="color: gray;">Voltage : </span>  {{VoltagePhaseC}} V </h5>
          <h5 style="color:#2c97de"><span style="color: gray;">Current : </span> {{CurrentPhaseC}} A </h5>
          <h5 style="color:#2c97de"><span style="color: gray ;">Power Factor : </span>{{PowerFactorPhaseC}} A </h5>
        </div>
      </nb-tab>&nbsp;&nbsp;
    </nb-tabset>

  </nb-card-body>
  <ngx-echarts-line></ngx-echarts-line>
</nb-card>
<div hidden><table id="excel-table">
  <tr>
    <th>Total Consumption Energy</th>
    <th>Positive Active Total Energy</th>
    <th> Reverse Active Total Energy</th>
    <th>ActivePower</th>
  </tr>
  <tr>
    <td>{{this.label_ComActiveTotal }}</td>
    <td>{{ this.label_PositiveActiveTotal}}</td>
    <td>{{ this.label_ReverseActiveTotal}}</td>
    <td>{{ this.label_ActivePowerTotal}}</td>


  </tr>
</table></div>

