<h1 id="title" class="title" style =" color :#3366ff ;">Register</h1>


<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-name">Full name:</label>
    <input nbInput
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
           formControlName="username"
           id="input-name"
           placeholder="Full name"
           autofocus
           class="form-control"
           fullWidth
           fieldSize="large">

    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">First Name is required</div>
    </div>

  </div>


  <div class="form-control-group">
    <label class="label" for="input-num"> Num Tell:</label>
    <input nbInput
           [ngClass]="{ 'is-invalid': submitted && f.numTel.errors }"
           formControlName="numTel"
           id="input-num"
           placeholder="Numero tel"
           autofocus
           class="form-control"
           fullWidth
           fieldSize="large">

    <div *ngIf="submitted && f.numTel.errors" class="invalid-feedback">
      <div *ngIf="f.numTel.errors.required">num tel is required</div>
    </div>

  </div>

  <div class="form-control-group">
    <label class="label" for="input-email"> adress Email</label>
    <input nbInput
           formControlName="email"
           id="input-email"
           name="email"
           class="form-control"
           pattern=".+@.+..+"
           placeholder="Email address"
           fullWidth
           fieldSize="large"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        >
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>

  </div>

  <div class="form-control-group">
    <label class="label">Password:</label>
    <input nbInput
          formControlName="password"
           type="password"
           id="input-password"
           class="form-control"
           name="password"
           placeholder="Password"
           fullWidth
           fieldSize="large"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
         >
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
           type="password"
           id="input-re-password"
           class="form-control"
           formControlName="confirmPassword"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           fieldSize="large"
           >

  </div>

  <div class="form-control-group accept-group" >
    <nb-checkbox formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
      Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>

    </nb-checkbox>
    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback" class="form-control" >Accept Ts & Cs is required</div>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
        >
    Register
  </button>
</form>


<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
