@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: hidden;
  }
  nb-card {
    height: 58rem;
  }

  .value {
    margin: 0;
  }
  #test {
    color: #0738ec;
  }
  .details {
    color: nb-theme(text-hint-color);
  }
}
