<style>
  #test {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    align-self: center;
  }

  .container {
    display: flex;
    align-items: center;
  }

  nb-progress-bar {
    flex: 1;
  }
</style>
<nb-card size="medium" class="solar-card" *ngFor="let s of data ">
  <nb-card-header><h5 style=" color: #3366ff ;"> {{s.name}}</h5></nb-card-header>

  <nb-card-body>
    <h6 style="color:#2c97de"> ID :  {{s.code}}</h6>
    <h6 style="color:#2c97de"> Factory : {{s.factoryName}}</h6>
    <h6 style="color:#2c97de"> Area : {{s.area}}</h6>&nbsp;&nbsp;
    <table>
      <tr>
        <th>
          ON/OFF :
        </th>
        <td>
          <ui-switch size="large" (change)="onChange($event)" checked="true"></ui-switch>
        </td>
      </tr>  <tr>
        <th>
          Last update :
        </th>
        <td>
          {{last_update}}&nbsp;
        </td>
      </tr>
      <tr>
        <th>
          Export to Execel file :
        </th>
        <td>
          <a  (click)="exportexcel()"> <img src="../assets/images/logo1.png" width="40px" height="40px"/></a>
        </td>
      </tr>
    </table>&nbsp;&nbsp;
    <div class="row" id="test">

          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name1"
            [needleValue]="needleValue_com_total_energy"
            [bottomLabel]="label_com_total_energy+'\n Kwh'"
            [options]="options"
           >
          </rg-gauge-chart>
          <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name2 "
            [needleValue]="needleValue_PositiveActiveTotalEnergy"
            [bottomLabel]="label_PositiveActiveTotalEnergy+'\n Kwh'"
            [options]="options2"
            >
          </rg-gauge-chart>
      <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name3 "
            [needleValue]="needleValue_ReverseActiveTotalEnergy"
            [bottomLabel]="label_ReverseActiveTotalEnergy+'\n Kwh'"
            [options]="options3"
           >
          </rg-gauge-chart>
      <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [name]="name4 "
            [needleValue]="needleValue_ReverseActiveTotalEnergy"
            [bottomLabel]="needleValue_ActivePower+'\n Kwh'"
            [options]="options4"
           >
          </rg-gauge-chart>


<div>

  <h5 style="color:#2c97de"> <span style="color: gray;">Voltage : </span>  {{Voltage}} V </h5>
  <h5 style="color:#2c97de"> <span style="color: gray;">Current : </span> {{Current}} A </h5>
   <h5 style="color:#2c97de"> <span style="color: gray;">Power Grid Frequency : </span> {{PowerGridFrequency}} Hz </h5>
  <h5 style="color:#2c97de"> <span style="color: gray ;">Power Factor : </span>{{PowerFactor}} A </h5>
</div>
    </div> &nbsp;&nbsp;&nbsp;
        <ngx-echarts-line></ngx-echarts-line>

  </nb-card-body>
</nb-card>
<div hidden><table id="excel-table">
  <tr>
    <th>Positive active Total Energy</th>
    <th> Reverse Active Total Energy</th>
    <th>ActivePower</th>
    <th>Consumption Total Energy</th>
    <th>Voltage</th>
    <th>Current</th>
    <th>PowerGridFrequency</th>
    <th>PowerFactor</th>

  </tr>
  <tr>
    <td>{{this.label_PositiveActiveTotalEnergy }}</td>
    <td>{{ this.label_ReverseActiveTotalEnergy}}</td>
    <td>{{ this.label_ActivePower}}</td>
    <td>{{ this.label_com_total_energy}}</td>
    <td>{{ this.Voltage}}</td>
    <td>{{ this.Current}}</td>
    <td>{{ this.PowerGridFrequency}}</td>
    <td>{{ this.PowerFactor}}</td>


  </tr>
</table></div>
