@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';


  @include nb-install-component() {

    nb-card-body {
      overflow: hidden;
    }
    nb-card {
      height: 45rem;
      width: 47rem;
    }
    nb-tabset nb-tab {
      color: #0738ec;
    }
    #test {
      color: #0738ec;
    }

    .value {
      margin: 0;
    }

    .details {
      color: nb-theme(text-hint-color);
    }
  }

