
<style>
  #madiv { width: 60%; }
  #madiv2 {position: center}
</style>

<div class="col-9">

  <nb-card >
    <nb-card-header >
      <h1 style=" color: #3366ff ; text-align: center ;" >  Add Device </h1>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="onSubmit()" [formGroup]="SensorForm" ngNativeValidate>
<div id="madiv">
        <div class="form-group">
          <input type="text" nbInput fullWidth placeholder="write your Device  ID " required="true" formControlName="code"  required="true">
          <p  style="color:red;"> {{ msg }} </p>
        </div>
        <div class="form-group">
          <input type="text" nbInput fullWidth placeholder="choose a name " required="true" formControlName="name">
        </div>
        <div class="form-group">
          <nb-select [(selected)]="selectedOption" placeholder="select your factory" >
            <nb-option (click)="place()" *ngFor="let o of options" [value]="o" nbInput > {{ o.name }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <nb-select [(selected)]="selectedOption2" placeholder="select exact zone">
            <nb-option *ngFor="let o of places" [value]="o"> {{ o }}</nb-option>
          </nb-select>
        </div>


        <button _ngcontent-csk-c27="" type="submit" nbbutton="" status="success" _nghost-csk-c16="" ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions" aria-disabled="false" tabindex="0">
          Add
        </button>
  &nbsp;&nbsp;
  <button _ngcontent-csk-c27="" type="reset" class="cancel appearance-filled size-medium status-danger shape-rectangle transitions" nbbutton="" status="danger" _nghost-csk-c16="" ng-reflect-status="danger" aria-disabled="false" tabindex="0">
    Cancel
  </button>
</div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
  <div fullWidth>
    <img src="../assets/images/s.png" width="500px" height="500px"/>
    <img src="../assets/images/s3.PNG" width="500px" height="500px"/>
    <img src="../assets/images/s2.png" width="500px" height="500px"/>
  </div>


