
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header >

        <h1 style=" color: #3366ff ; text-align: center ;" > Reclamation Form </h1>
      </nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onSubmit()" ngNativeValidate [formGroup]="reclamationForm">
          <div class="form-group">
            <input type="text" nbInput fullWidth placeholder="Subject"  formControlName="subject" required="true"  style="
    text-align: center;
">
          </div>
          <div class="form-group">
            <textarea nbInput placeholder="Message" required="true"  fullWidth formControlName="message" style="margin-top: 0px;margin-bottom: 0px;height: 280px;text-align: center;"></textarea>
          </div>
          <button _ngcontent-csk-c27="" type="submit" nbbutton="" status="success" _nghost-csk-c16=""
                  ng-reflect-status="success"
                  class="appearance-filled size-medium status-success shape-rectangle transitions" aria-disabled="false"
                  tabindex="0">
            Send
          </button>
          &nbsp;&nbsp;
          <button _ngcontent-csk-c27="" type="reset"
                  class="cancel appearance-filled size-medium status-danger shape-rectangle transitions" nbbutton=""
                  status="danger" _nghost-csk-c16="" ng-reflect-status="danger" aria-disabled="false" tabindex="0">
            Cancel
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <nb-card>
    <nb-card-header style="
    color: #23afdc;
    text-align: center;">
      History
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
