<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-gauge/dist/angularjs-gauge.min.js"></script>
  <nb-card size="100%" fullWidth>
    <div class="form-group">

      <nb-select [(selected)]="selectedOption" placeholder="select your factory"  >
        <nb-option (click)="filter2()" > All</nb-option>
        <nb-option (click)="filter()" *ngFor="let o of options" [value]="o"> {{ o.name }}</nb-option>

      </nb-select>
    </div>

    <nb-tabset fullWidth> <nb-tab tabTitle="Actuators">
      <div class="row">

        <div class="col-6 col-sm-4" *ngFor="let d of data">
          <ngx-status-card [title]="d.name" [type]="statusCards[0].type"  [place]="d.area" [factory]="d.factoryName"  (click)=ok(d.code) [on]=d.state  [code]=d.code>
            <i [ngClass]="statusCards[0].iconClass"></i>

          </ngx-status-card>
        </div>
      </div>
    </nb-tab>
      <nb-tab tabTitle="Sensors">


        <div class="row" >
          <div>
            <ngx-temperature></ngx-temperature>
          </div>

        </div>
      </nb-tab>

      <nb-tab tabTitle="Ip Lora Camera">

          <div class="col-md-6 offset-md-3">

            <ngx-security-cameras>

            </ngx-security-cameras>

        </div>



      </nb-tab>

    </nb-tabset>

  </nb-card>
<ngx-monophase></ngx-monophase>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<table style="margin-left:auto;margin-right:auto;" >
  <tr>
    <td>
      <ngx-solar></ngx-solar>
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <td>
      <ngx-water ></ngx-water>
    </td>
  </tr>
</table>
<ngx-triphase></ngx-triphase>

